<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chlot</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
  <div id="app">
    <h1>{{msg}}</h1>
    <a v-bind:href="url">Home</a>
    <p>
    <form method="post" action="/">
      <label for="email">Email </label><input type="email" v-model="email" id="email">
      <p>Your Email {{email}}</p>
        <label for="name">What's your Name? </label><input type="text" v-model="firstName" placeholder=" Name">
      <p>Your Name{{firstName}}</p>

      <legend>Your Favourite Artist</legend>
      <div>
        <input type="checkbox" v-model="selectedBand" value="Interpol"> Interpol
      </div>
      <div>
        <input type="checkbox" v-model="selectedBand" value="Editors"> Editors
      </div>
      <div>
        <input type="checkbox" v-model="selectedBand" value="White Lies"> White Lies
      </div>
      <div>
        <input type="checkbox" v-model="selectedBand" value="Drab Majesty"> Drab Majesty
      </div>
      <div>
        <input type="checkbox" v-model="selectedBand" value="The Cure"> The Cure
      </div>
      <div>
        <input type="checkbox" v-model="selectedBand" value="The Smiths"> The Smiths
      </div>
      <p>You selected: {{selectedBand.join(', ')}}</p>
    </form>
    </p>
  </div>

<script>
  var vm = new Vue({
    el: '#app',
      data: {
          msg: 'Chlot',
          url: 'https://www.google.com/',
          email: '',
          firstName: '',
          selectedBand: []
      }
  });
</script>
</body>
</html>
